<select id="switcher">
        <option id="dnd">D&amp;D</option>
        <option id="lcars">LCARS</option>
        <option id="pro">Pro</option>
    </select>
    <div id="dnd">
      <div id="content">
        <div class="ie">
          <p>***** MESSAGE FOR IE USERS *****<br />If you are reading this, that means you are using some version of Internet Explorer, which means you don't know how to internet properly. This website cannot be viewed properly in Internet Explorer, and I suggest you go download the lastest version of Google Chrome (<a href="https://www.google.com/chrome">click here</a>), which stays up-to-date on web standards for browsing.</p>
        </div>
        <div class="stats">
          <div class="pic">
            <span>My face goes here</span>
            <p>Portrait by <a href="http://fav.me/d2avl6h">Theresa Lucey</a></p>
          </div>
          <div class="name">
            <p><b class='title'>Name:</b><br />Aaron Yarhouse</p>
          </div >
          <div class="home">
            <p><b class='title'>Home:</b><br />Orlando, FL</p>
          </div>
          <div class="age">
            <p><b class='title'>Age:</b><br />31 years</p>
          </div>
          <div class="race">
            <p><b class='title'>Race:</b><br />Human</p>
          </div>
          <div class="hitpoints">
            <p><b class='title'>Hitpoints:</b><br />42</p>
          </div>
          <div class="level">
            <p><b class='title'>Class/Level:</b><br />
              <ul>
                <li>Designer 6</li>
                <li>Developer 3</li>
                <li>Ranger 4</li>
              </ul>
            </p>
          </div>
          <div class="tweet">
            <b><a href="https://twitter.com/yarhouse" target="_blank">Character</a> Quote:</b>
            <p><!--?php include 'tweet.php'; ?--></p>
          </div><!-- tweet -->
        </div><!-- stats -->
        <div class="blocks">
          <div class="bio information_box">
            <b>Character Bio:</b>
            <p>Born a lowly construction worker, Aaron broke free of his blue collar bonds when his former employer went bankrupt. Now he is set on a programming adventure, learning the ancient arts of development to strengthen his knowledge, augment his already powerful HTML and CSS skills, and sharpen his keen eye for design. Armed with his resume and a fresh pair of socks, he seeks new employment and new company to adventure with.</p>
          </div><!-- bio -->
          <div class="skills information_box">
            <b>Special Skills:</b>
            <ul>
              <li>Programming/Web:
                <ul class="skillz">
                  <li>CSS (incld. sass, responsive)</li>
                  <li>HTML (incld. haml, erb)</li>
                  <li>JavaScrpit (jQuery)</li>
                  <li>PHP</li>
                  <li>Ruby</li>
                  <li>Rails</li>
                </ul>
              </li>
              <li>Design/Productivity/IDE:
                <ul class="skillz">
                  <li>Photoshop</li>
                  <li>MS Office</li>
                  <li>OpenOffice</li>
                  <li>Notepad++</li>
                  <li>Sublime Text II</li>
                  <li>VirtualBox</li>
                </ul>
              </li>
              <li>Webserver/RDBMS:
                <ul class="skillz">
                  <li>Apache</li>
                  <li>MySQL</li>
                </ul>
              </li>
              <li>Operating Systems:
                <ul class="skillz">
                  <li>Windows (XP, 7, 8)</li>
                  <li>OS X</li>
                  <li>Linux (CentOS, Ubuntu)</li>
                </ul>
              </li>
              <li>8+ years <a href="http://en.wikipedia.org/wiki/Glazier" target="_blank" >glazing</a> experience</li>
              <li>+10 Sweet ninja-rap skills</li>
              <li>Event Director of <a href="http://nerdapalooza.org/" target="_blank" >Nerdapalooza</a></li>
            </ul>
          </div><!-- skills-->
          <div class="gear information_box">
            <b class='box_title'>Standard Gear:</b>
            <p>Glasses, Dell laptop running Ubuntu 12.04 LTS, HP Mini running Windows XP, HTC Wildfire S, 2002 Dodge Neon, Google Chrome, PHP spellbooks, Ruby on Rails spellbooks, Responsive Design spellbook, jQuery spellbook, Nerdapalooza business cards, TI-86 graphing calculator, chainmail shirt and coif, Power tools, Klingon bat'leth, 32 sets of Chessex dice, each Players Handbook since 2nd Edition.</p>
          </div><!-- gear -->
          <div class="adventures information_box">
            <b class='box_title'>Portfolio of Adventures:</b>
            <ul>
              <li><a href="http://krondorkrew.com" target="_blank" >Night of the Ninja Hip-hop Website</a></li>
              <li><a href="http://aaronyarhouse.com/LCARS/" target="_blank" >Case of the LCARS themed site of &uuml;ber-geekyness</a></li>
              <li><a href="http://github.com/lopac1029" target="_blank" >Return to the Temple of Github Repository</a></li>
              <li><a href="http://aaronyarhouse.com/wedding/" target="_blank" >Rescue the Unfinished Star-crossed Lovers</a></li>
              <li><a href="http://aaronyarhouse.com/practice_coding/parser/" target="_blank" >The Quest for The Simple Email Parser </a></li>
              <li><a href="http://aaronyarhouse.com/hdninja/" target="_blank" >Attack of the "Other Ninja Rappers" Design Concept</a></li>
            </ul>
          </div><!-- adventures -->
        </div><!-- blocks -->
      </div> <!-- content -->
      <div class="follows">
        <div class="linkedin">
          <a href="http://www.linkedin.com/in/aaronyarhouse" target="_blank" ><p>Linkedin</p></a>
        </div>
        <div class="twitter">
          <a href="http://twitter.com/yarhouse" target="_blank" ><p>Twitter</p></a>
        </div>
        <div class="google_plus">
          <a href="https://plus.google.com/113743449716616469635" target="_blank" ><p>Google+</p></a>
        </div>
        <div class="mail">
          <a href="mailto:aaron@aaronyarhouse.com" target="_blank" ><p>Email</p></a>
        </div>
      </div><!-- follows -->
      <script type="text/javascript">
        function openlink()
        {
          window.open('http://aaronyarhouse.com/ddi', '_blank');
        }
      </script>
      <div class="d20" onclick="openlink()">
        <p><a href="">Click here to see my D&amp;D characters</a></p>
      </div>
      <div class="langs">
        <a href="http://www.ubuntu.com/" target="_blank" ><div class="ubuntu"><p>I speak Ubuntu</p></div></a>
        <a href="https://www.google.com/chrome" target="_blank" ><div class="chrome"><p>I speak Chrome</p></div></a>
        <a href="http://www.photoshop.com/" target="_blank" ><div class="pscs2"><p>I speak Photoshop</p></div></a>
        <a href="http://www.w3schools.com/html5/default.asp" target="_blank" ><div class="html5"><p>I speak HTML</p></div></a>
        <a href="http://www.w3schools.com/css3/default.asp" target="_blank" ><div class="css3"><p>I speak CSS</p></div></a>
      <a href="http://jquery.com/" target="_blank" ><div class="jquery"><p>I speak jQuery</p></div></a>
        <a href="http://www.php.net/" target="_blank" ><div class="php"><p>I speak PHP</p></div></a>
        <a href="http://rubyonrails.org/" target="_blank" ><div class="rails"><p>I speak Ruby on Rails</p></div></a>
      </div>
    </div> <!-- dnd -->  
    <div id="lcars">
      <div id="tweet" >
        <p class="latest" style="text-overflow:ellipsis;">Latest comm. from <a href="http://twitter.com/yarhouse" target="_blank" class="tweet" ><b class="at">@</b>Yarhouse</a> <b class="tweet">"<?php include 'tweet.php'; ?>"</b></p>
      </div>
      <div id="header">
        <p class="title" >Library Computer Access and Retrieval System - LCARS</p>
        <p class="stardate">Current Stardate: <span id="stardate">&nbsp;</span></p>
      </div>
      
      <div id="contents">
        <div id="moving_bar">
          <p>Info</p>
        </div>
        <div id="markup">
          <img class="profile" src="./images/00003kc2.jpg" alt="" />
          <b class="name">Subject: Aaron Yarhouse</b>
          <p class="bio">Sentient creature; 99% comprised of oxygen, carbon, hydrogen, nitrogen, calcium, and phosphorus; searching for an evolved standard of morals and ethics on a terra formation slowly being depleted of its natural resources which will soon leave it barren and inhabitable. Also enjoys Popeye's chicken and biscuits</p>
          <p class="note"><b>Personal Note:</b><br />When I got my first computer in 2001, I knew I wanted to design webpages. I got a Geocities account, and tried so hard to make my first layout look like a LCARS interface. I just couldn't get MSPaint to make those curvy bars look so smooth!<br /><br />Over a decade later, I get to this. Thanks <a href="http://www.w3schools.com/cssref/css3_browsersupport.asp" target="_blank">CSS3</a>.</p>
          <p class="webmaster">Hand crafted by <a href="mailto:aaron@aaronyarhouse.com?Subject=You%20are%20awesome" >Aaron Yarhouse</a>. Thats me! HTML5 and CSS3 are my new favorite playtoys. Possibly better than G.I.Joes!</p>
        </div>
        <div id="menu_bar">
          <ul class="menu" >
            <!-- I refuse to move the hyperlink out of the ul bed. I WANT the entire li to be the link, not just the text. Fuck the validator for crampin' my style -->
            <a href="?page=main" ><li class="menu" onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()">Profile</li></a>
            <a href="" ><li class="menu" onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()">Portfolio</li></a>
            <a href="?page=ship" ><li class="menu" onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()">Starship</li></a>
            <a href=""><li class="menu" onmouseover="mouseoversound.playclip()" onclick="clicksound.playclip()">D&amp;D</li></a>
          </ul>
        </div>
      </div>
      <div id="footer">
        <p></p>
      </div>
    </div> <!-- lcars -->
    <div id="resume">
      This is a test of the resume body
    </div> <!-- resume -->