<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0,width=device-width" />
    <title>Aaron Yarhouse (@yarhouse)</title>

    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "dnd" %>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
      $(function(){
        $("div.skills li ul li").hover(
          function(){$(this).toggleClass("highlight");}
        );
        // $('.information_box b').click(function(){
        //   $('.information_box').toggleClass('information_box');
        // });
      });
    </script>
  </head>
  <body >
    <%= yield %>
  </body>
</html>
